* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color:black;
}
.cart {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid grey;
}
.header-text{
  color: black;
 
}